Aplicando modelos de regressão na base de dados do projeto

**REGRESSÃO LINEAR**

In [ ]:
# Importanto as bibliotecas necessárias
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# Importando a base de dados do projeto 
from google.colab import files
uploaded = files.upload()
df = pd.read_csv ('census.csv')

Saving census.csv to census.csv

In [ ]:
# Exibindo as colunas
df.columns

Index(['Unnamed: 0', 'age', 'workclass', 'final.weight', 'education',
       'education.num', 'marital.status', 'occupation', 'relationship', 'race',
       'sex', 'capital.gain', 'capital.loos', 'hour.per.week',
       'native.country', 'income'],
      dtype='object')

In [ ]:
# verificando as primeiras instâncias
df.head()

   Unnamed: 0  age          workclass  ...  hour.per.week  native.country  income
0           1   39          State-gov  ...             40   United-States   <=50K
1           2   50   Self-emp-not-inc  ...             13   United-States   <=50K
2           3   38            Private  ...             40   United-States   <=50K
3           4   53            Private  ...             40   United-States   <=50K
4           5   28            Private  ...             40            Cuba   <=50K

[5 rows x 16 columns]

In [ ]:
# identificar o tipo de cada variável
df.dtypes

Unnamed: 0         int64
age                int64
workclass         object
final.weight       int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loos       int64
hour.per.week      int64
native.country    object
income            object
dtype: object

In [ ]:
# Removendo os dados inválidos do dataset
df = df[(df.astype(str) != ' ?').all(axis=1)]
len(df)

30162

In [ ]:
# Criando um método para categorizar a idade de acordo com a sua respectiva faixa etária
def age_category(idade):
  if idade <= 19:
    return 0 # Jovem
  elif idade >= 20 and idade <= 59:
    return 1 # Adulto
  else:
    return 2 # Idoso

# Cria a coluna 'age_category' a partir dos dados da coluna 'age' e aplica o método 'age_category' linha por linha, através da função 'map'
df['age_category'] = df['age'].map(age_category)

In [ ]:
# Confirmar que agora as idades foram divididas em 3 categorias
df['age_category'].value_counts() 
# Que vai retornar a quantidade de dados de acordo com cada categoria

1    26711
2     2082
0     1369
Name: age_category, dtype: int64

In [ ]:
# Criando uma nova coluna, mudando a coluna income e sex para binária para melhor visualização
df['income_bi'] = df.apply(lambda row: 1 if '>50K'in row['income'] else 0, axis=1)
df['sex_bi'] = df.apply(lambda row: 1 if 'Male'in row['sex'] else 0, axis=1)

In [ ]:
# Removendo algumas colunas que não contribuiram nesse caso
df = df.drop(['income','sex','final.weight','capital.gain','capital.loos','hour.per.week','native.country'], axis=1)
# Mostrar como ficou após o drop
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 30161
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      30162 non-null  int64
 1   age             30162 non-null  int64
 2   workclass       30162 non-null  object
 3   education       30162 non-null  object
 4   education.num   30162 non-null  int64
 5   marital.status  30162 non-null  object
 6   occupation      30162 non-null  object
 7   relationship    30162 non-null  object
 8   race            30162 non-null  object
 9   age_category    30162 non-null  int64
 10  income_bi       30162 non-null  int64
 11  sex_bi          30162 non-null  int64
dtypes: int64(6), object(6)
memory usage: 3.0+ MB

In [ ]:
# Converter os dados para númericos
df = pd.get_dummies(df, columns=['workclass', 'education', 'marital.status', 'occupation', 'relationship', 'race'])
# Agora todos são do tipo númerico
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30162 entries, 0 to 30161
Data columns (total 61 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Unnamed: 0                             30162 non-null  int64
 1   age                                    30162 non-null  int64
 2   education.num                          30162 non-null  int64
 3   age_category                           30162 non-null  int64
 4   income_bi                              30162 non-null  int64
 5   sex_bi                                 30162 non-null  int64
 6   workclass_ Federal-gov                 30162 non-null  uint8
 7   workclass_ Local-gov                   30162 non-null  uint8
 8   workclass_ Private                     30162 non-null  uint8
 9   workclass_ Self-emp-inc                30162 non-null  uint8
 10  workclass_ Self-emp-not-inc            30162 non-null  uint8
 11  workclass_ State-gov                   30162 non-null  uint8
 12  workclass_ Without-pay                 30162 non-null  uint8
 13  education_ 10th                        30162 non-null  uint8
 14  education_ 11th                        30162 non-null  uint8
 15  education_ 12th                        30162 non-null  uint8
 16  education_ 1st-4th                     30162 non-null  uint8
 17  education_ 5th-6th                     30162 non-null  uint8
 18  education_ 7th-8th                     30162 non-null  uint8
 19  education_ 9th                         30162 non-null  uint8
 20  education_ Assoc-acdm                  30162 non-null  uint8
 21  education_ Assoc-voc                   30162 non-null  uint8
 22  education_ Bachelors                   30162 non-null  uint8
 23  education_ Doctorate                   30162 non-null  uint8
 24  education_ HS-grad                     30162 non-null  uint8
 25  education_ Masters                     30162 non-null  uint8
 26  education_ Preschool                   30162 non-null  uint8
 27  education_ Prof-school                 30162 non-null  uint8
 28  education_ Some-college                30162 non-null  uint8
 29  marital.status_ Divorced               30162 non-null  uint8
 30  marital.status_ Married-AF-spouse      30162 non-null  uint8
 31  marital.status_ Married-civ-spouse     30162 non-null  uint8
 32  marital.status_ Married-spouse-absent  30162 non-null  uint8
 33  marital.status_ Never-married          30162 non-null  uint8
 34  marital.status_ Separated              30162 non-null  uint8
 35  marital.status_ Widowed                30162 non-null  uint8
 36  occupation_ Adm-clerical               30162 non-null  uint8
 37  occupation_ Armed-Forces               30162 non-null  uint8
 38  occupation_ Craft-repair               30162 non-null  uint8
 39  occupation_ Exec-managerial            30162 non-null  uint8
 40  occupation_ Farming-fishing            30162 non-null  uint8
 41  occupation_ Handlers-cleaners          30162 non-null  uint8
 42  occupation_ Machine-op-inspct          30162 non-null  uint8
 43  occupation_ Other-service              30162 non-null  uint8
 44  occupation_ Priv-house-serv            30162 non-null  uint8
 45  occupation_ Prof-specialty             30162 non-null  uint8
 46  occupation_ Protective-serv            30162 non-null  uint8
 47  occupation_ Sales                      30162 non-null  uint8
 48  occupation_ Tech-support               30162 non-null  uint8
 49  occupation_ Transport-moving           30162 non-null  uint8
 50  relationship_ Husband                  30162 non-null  uint8
 51  relationship_ Not-in-family            30162 non-null  uint8
 52  relationship_ Other-relative           30162 non-null  uint8
 53  relationship_ Own-child                30162 non-null  uint8
 54  relationship_ Unmarried                30162 non-null  uint8
 55  relationship_ Wife                     30162 non-null  uint8
 56  race_ Amer-Indian-Eskimo               30162 non-null  uint8
 57  race_ Asian-Pac-Islander               30162 non-null  uint8
 58  race_ Black                            30162 non-null  uint8
 59  race_ Other                            30162 non-null  uint8
 60  race_ White                            30162 non-null  uint8
dtypes: int64(6), uint8(55)
memory usage: 3.2 MB

In [ ]:
# Normalizando o dataframe, deixando todas as variáveis na mesma forma de grandeza
normalized_df=(df-df.min())/(df.max()-df.min())

In [ ]:
# X contem a variável de treinamento
X = df[['age','education.num','income_bi','sex_bi','workclass_ Federal-gov','workclass_ Local-gov','workclass_ Private','workclass_ Self-emp-inc','workclass_ Self-emp-not-inc','workclass_ State-gov','workclass_ Without-pay','education_ 10th','education_ 11th','education_ 12th','education_ 1st-4th','education_ 5th-6th','education_ 7th-8th','education_ 9th','education_ Assoc-acdm','education_ Assoc-voc','education_ Bachelors','education_ Doctorate','education_ HS-grad','education_ Masters','education_ Preschool','education_ Prof-school','education_ Some-college','marital.status_ Divorced','marital.status_ Married-AF-spouse','marital.status_ Married-civ-spouse','marital.status_ Married-spouse-absent','marital.status_ Never-married','marital.status_ Separated','marital.status_ Widowed','occupation_ Adm-clerical','occupation_ Armed-Forces','occupation_ Craft-repair','occupation_ Exec-managerial','occupation_ Farming-fishing','occupation_ Handlers-cleaners','occupation_ Machine-op-inspct','occupation_ Other-service','occupation_ Priv-house-serv','occupation_ Prof-specialty','occupation_ Protective-serv','occupation_ Sales','occupation_ Tech-support','occupation_ Transport-moving','relationship_ Husband','relationship_ Not-in-family','relationship_ Other-relative','relationship_ Own-child','relationship_ Unmarried','relationship_ Wife','race_ Amer-Indian-Eskimo','race_ Asian-Pac-Islander','race_ Black','race_ Other','race_ White']]
# Y contem a variável de destino, que permite predizer uma resposta
y = df['age_category']

In [ ]:
X.head()

   age  education.num  income_bi  ...  race_ Black  race_ Other  race_ White
0   39             13          0  ...            0            0            1
1   50             13          0  ...            0            0            1
2   38              9          0  ...            0            0            1
3   53              7          0  ...            1            0            0
4   28             13          0  ...            1            0            0

[5 rows x 59 columns]

In [ ]:
y.head()

0    1
1    1
2    1
3    1
4    1
Name: age_category, dtype: int64

In [ ]:
from sklearn.model_selection import train_test_split
# dividi as variáveis de X em treino e teste e a mesma coisa de Y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

In [ ]:
# importa para criar a regressão linear
from sklearn.linear_model import LinearRegression
# Aqui criamos o modelo preditor
modelopreditor = LinearRegression()
# Aqui ocorre o aprendizado
modelopreditor.fit(X_train,y_train) # utiliza apenas as variáveis de treinamento

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [ ]:
# Imprimindo os coeficientes com os nomes das colunas
coeff = pd.DataFrame(modelopreditor.coef_,X.columns,columns=['Coeficiente'])
coeff
# para cada tipo de coeficiente tem uma interpretação, conforme mostrado no PDF

                                       Coeficiente
age                                       0.016096
education.num                             0.004097
income_bi                                -0.072997
sex_bi                                    0.014061
workclass_ Federal-gov                   -0.067211
workclass_ Local-gov                     -0.056173
workclass_ Private                       -0.024884
workclass_ Self-emp-inc                  -0.031487
workclass_ Self-emp-not-inc              -0.030828
workclass_ State-gov                     -0.034981
workclass_ Without-pay                    0.245563
education_ 10th                          -0.066606
education_ 11th                          -0.151606
education_ 12th                          -0.116717
education_ 1st-4th                       -0.003453
education_ 5th-6th                        0.055986
education_ 7th-8th                        0.068647
education_ 9th                            0.021801
education_ Assoc-acdm                     0.035215
education_ Assoc-voc                      0.039601
education_ Bachelors                      0.037891
education_ Doctorate                      0.003690
education_ HS-grad                        0.021714
education_ Masters                       -0.015635
education_ Preschool                      0.030036
education_ Prof-school                    0.008666
education_ Some-college                   0.030771
marital.status_ Divorced                 -0.085979
marital.status_ Married-AF-spouse         0.076284
marital.status_ Married-civ-spouse        0.020685
marital.status_ Married-spouse-absent    -0.045485
marital.status_ Never-married            -0.012149
marital.status_ Separated                -0.043425
marital.status_ Widowed                   0.090070
occupation_ Adm-clerical                 -0.010293
occupation_ Armed-Forces                  0.091394
occupation_ Craft-repair                 -0.015284
occupation_ Exec-managerial              -0.020939
occupation_ Farming-fishing               0.008123
occupation_ Handlers-cleaners             0.008770
occupation_ Machine-op-inspct            -0.007510
occupation_ Other-service                -0.038484
occupation_ Priv-house-serv              -0.008903
occupation_ Prof-specialty               -0.014482
occupation_ Protective-serv               0.040605
occupation_ Sales                        -0.029751
occupation_ Tech-support                  0.003150
occupation_ Transport-moving             -0.006396
relationship_ Husband                    -0.034520
relationship_ Not-in-family               0.048304
relationship_ Other-relative              0.024553
relationship_ Own-child                  -0.048388
relationship_ Unmarried                   0.024878
relationship_ Wife                       -0.014827
race_ Amer-Indian-Eskimo                 -0.012009
race_ Asian-Pac-Islander                  0.007848
race_ Black                              -0.005173
race_ Other                               0.016219
race_ White                              -0.006884

In [ ]:
# fazendo predições com os dados de teste
predictions = modelopreditor.predict(X_test)
# imprimindo as primeiras variáveis preditoras
X_test.head()

       age  education.num  income_bi  ...  race_ Black  race_ Other  race_ White
15324   35              9          0  ...            0            0            1
28069   62              4          0  ...            0            0            1
5069    43             13          0  ...            0            0            1
26951   45             13          0  ...            0            0            1
1832    30             10          0  ...            1            0            0

[5 rows x 59 columns]

In [ ]:
# Predições realizadas
predictions

array([1.01151006, 1.4551024 , 0.98950895, ..., 1.1012273 , 1.01677117,
       0.89164626])

In [ ]:
# Valores reais para acertar
y_test.head()

15324    1
28069    2
5069     1
26951    1
1832     1
Name: age_category, dtype: int64

In [ ]:
from sklearn import metrics
# Mean Absolute Error (MAE) é a média do valor absoluto dos erros
print('MAE:', metrics.mean_absolute_error(y_test, predictions))
# Mean Squared Error (MSE) é a média dos erros quadráticos
print('MSE:', metrics.mean_squared_error(y_test, predictions))
# Root Mean Squared Error (RMSE) é a raiz quadrada da média dos erros ao quadrado
print('RMSE:', np.sqrt(metrics.mean_squared_error(y_test, predictions)))

# Todas essas são funções de perda, porque queremos minimizá-las.

MAE: 0.18830043297667
MSE: 0.0638563051370564
RMSE: 0.2526980513123447

**REGRESSÃO LOGÍSTICA**

In [ ]:
# identificar o tipo de cada variável
print(df.dtypes)

Unnamed: 0                  int64
age                         int64
education.num               int64
age_category                int64
income_bi                   int64
                            ...
race_ Amer-Indian-Eskimo    uint8
race_ Asian-Pac-Islander    uint8
race_ Black                 uint8
race_ Other                 uint8
race_ White                 uint8
Length: 61, dtype: object

In [ ]:
# ver as 5 primeiras linhas dos dados
df.head()

   Unnamed: 0  age  education.num  ...  race_ Black  race_ Other  race_ White
0           1   39             13  ...            0            0            1
1           2   50             13  ...            0            0            1
2           3   38              9  ...            0            0            1
3           4   53              7  ...            1            0            0
4           5   28             13  ...            1            0            0

[5 rows x 61 columns]

In [ ]:
# contando os valores faltantes, dados com NaN (dados não disponiveis no dataset)
df.isnull().sum()

Unnamed: 0                  0
age                         0
education.num               0
age_category                0
income_bi                   0
                           ..
race_ Amer-Indian-Eskimo    0
race_ Asian-Pac-Islander    0
race_ Black                 0
race_ Other                 0
race_ White                 0
Length: 61, dtype: int64

In [ ]:
# Exibindo a média por classe
print (df.groupby('age_category'). mean())

                Unnamed: 0        age  ...  race_ Other  race_ White
age_category                           ...
0             16821.272462  18.194302  ...     0.007305     0.893353
1             16253.079742  37.326233  ...     0.008087     0.855303
2             16386.856388  66.011047  ...     0.002402     0.895293

[3 rows x 60 columns]

In [ ]:
# Treinando
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(df.drop('age_category',axis=1), df['age_category'], test_size=0.40, random_state=101)

In [ ]:
X_train

       Unnamed: 0  age  education.num  ...  race_ Black  race_ Other  race_ White
24949       26917   22             10  ...            0            0            1
7784         8437   67              9  ...            1            0            0
25968       28015   27              9  ...            1            0            0
13091       14137   26              9  ...            0            0            1
5349         5831   60              9  ...            0            0            1
...           ...  ...            ...  ...          ...          ...          ...
5695         6197   42             10  ...            0            0            1
8006         8670   50             10  ...            0            0            1
17745       19144   53             16  ...            0            0            1
17931       19351   38             10  ...            0            0            1
13151       14200   55             10  ...            0            0            1

[18097 rows x 60 columns]

In [ ]:
y_test

26724    1
29127    1
4952     1
5953     1
15882    1
        ..
26852    2
11835    1
5052     1
2875     1
21821    2
Name: age_category, Length: 12065, dtype: int64

In [ ]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression(solver='lbfgs',max_iter=1000)

logmodel.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=1000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [ ]:
predictions = logmodel.predict(X_test)
predictions

array([1, 1, 1, ..., 1, 1, 2])

In [ ]:
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.76      0.67      0.72       550
           1       0.96      0.98      0.97     10710
           2       0.81      0.75      0.78       805

    accuracy                           0.95     12065
   macro avg       0.85      0.80      0.82     12065
weighted avg       0.95      0.95      0.95     12065

In [ ]:
from sklearn.metrics import confusion_matrix
conf_mat = confusion_matrix(y_test, predictions)
print(conf_mat)

[[  370   180     0]
 [  114 10452   144]
 [    0   203   602]]